@import mixins

.filters-sorting
    display: flex
    justify-content: space-between
    @include unitize(gap, 12)
    @include unitize(margin-top, 24)

.filters
    display: flex
    @include unitize(gap, 8)

    &__groups
        display: flex
        align-items: center
        @include unitize(gap, 15)

.sorting
    display: flex
    @include unitize(gap, 8)

.tariffs-list
    display: flex
    flex-direction: column
    @include unitize(gap, 12)
    @include unitize(margin-top, 24)

.form-radio-group
    display: flex
    align-items: center
    @include unitize(gap, 5)

    input[type=radio]
        margin: 0

@media screen and (max-width: 640px)
    .filters-sorting
        flex-direction: column
