<form [formGroup]="filterSotringFormGroup" class="filters-sorting">
  <div class="filters">
    <span>Filters:</span>
    <div formGroupName="filters" class="filters__groups">
      <div class="form-group form-group_radio">
        <input
          type="radio"
          formControlName="connectionType"
          [value]="null"
          id="connectionTypeAll" />
        <label for="connectionTypeAll">All</label>
      </div>
      <div class="form-group form-group_radio">
        <input
          type="radio"
          formControlName="connectionType"
          value="dsl"
          id="connectionTypeDsl" />
        <label for="connectionTypeDsl">DSL</label>
      </div>
      <div class="form-group form-group_radio">
        <input
          type="radio"
          formControlName="connectionType"
          value="fiber-optic"
          id="connectionTypeFiber" />
        <label for="connectionTypeFiber">Fiber-Optic</label>
      </div>
    </div>
  </div>

  <div class="sorting">
    <span>Sort by:</span>
    <select formControlName="sorting">
      @for (option of tariffListSortingOptions; track option.type) {
        <option [value]="option.type">{{ option.label }}</option>
      }
    </select>
  </div>
</form>
<div class="tariffs-list">
  @if (tariffs) {
    @for (tariff of tariffs; track tariff.id; let idx = $index) {
      <app-tariff-item [idx]="idx" [tariff]="tariff"></app-tariff-item>
    } @empty {
      <div class="tariffs-list__empty">Currently no tariffs</div>
    }
  } @else {
    <div class="tariffs-list__loading">Loading...</div>
  }
</div>
